<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nightonke.githubwidget">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GithubWidgetApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:windowSoftInputMode="stateHidden"
            android:exported="false">
        </activity>

        <activity android:name=".LoginActivity"/>

        <service android:name=".GithubWidgetService" />

        <receiver
            android:name=".GithubWidget0"
            android:label="4×1">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_0"/>

            <intent-filter>
                <action android:name="com.nightonke.githubwidget.action.CLICK_ALL" />
                <action android:name="com.nightonke.githubwidget.action.CLICK_AVATAR" />
                <action android:name="com.nightonke.githubwidget.action.CLICK_CONTRIBUTIONS" />
                <action android:name="com.nightonke.githubwidget.action.CLICK_CONTRIBUTIONS_SUM" />
                <action android:name="com.nightonke.githubwidget.action.UPDATE_FROM_SERVICE" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".GithubWidget1"
            android:label="4×3">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_1"/>

            <intent-filter>
                <action android:name="com.nightonke.githubwidget.action.CLICK_ALL" />
                <action android:name="com.nightonke.githubwidget.action.CLICK_AVATAR" />
                <action android:name="com.nightonke.githubwidget.action.CLICK_CONTRIBUTIONS" />
                <action android:name="com.nightonke.githubwidget.action.UPDATE_FROM_SERVICE" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".GithubWidget2"
            android:label="4×2-1">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_2"/>

            <intent-filter>
                <action android:name="com.nightonke.githubwidget.action.CLICK_ALL" />
                <action android:name="com.nightonke.githubwidget.action.CLICK_AVATAR" />
                <action android:name="com.nightonke.githubwidget.action.CLICK_MOTTO" />
                <action android:name="com.nightonke.githubwidget.action.CLICK_CONTRIBUTIONS" />
                <action android:name="com.nightonke.githubwidget.action.CLICK_CONTRIBUTIONS_SUM" />
                <action android:name="com.nightonke.githubwidget.action.CLICK_CONTRIBUTIONS_TODAY" />
                <action android:name="com.nightonke.githubwidget.action.CLICK_FOLLOWERS" />
                <action android:name="com.nightonke.githubwidget.action.CLICK_STARS_TODAY" />
                <action android:name="com.nightonke.githubwidget.action.CLICK_CURRENT_STREAK" />
                <action android:name="com.nightonke.githubwidget.action.UPDATE_MOTTO" />
                <action android:name="com.nightonke.githubwidget.action.UPDATE_FROM_SERVICE" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".GithubWidget3"
            android:label="4×2-2">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_3"/>

            <intent-filter>
                <action android:name="com.nightonke.githubwidget.action.CLICK_ALL" />
                <action android:name="com.nightonke.githubwidget.action.CLICK_AVATAR" />
                <action android:name="com.nightonke.githubwidget.action.CLICK_MOTTO" />
                <action android:name="com.nightonke.githubwidget.action.CLICK_CONTRIBUTIONS" />
                <action android:name="com.nightonke.githubwidget.action.CLICK_CONTRIBUTIONS_SUM" />
                <action android:name="com.nightonke.githubwidget.action.CLICK_CONTRIBUTIONS_TODAY" />
                <action android:name="com.nightonke.githubwidget.action.CLICK_FOLLOWERS" />
                <action android:name="com.nightonke.githubwidget.action.CLICK_STARS_TODAY" />
                <action android:name="com.nightonke.githubwidget.action.CLICK_CURRENT_STREAK" />
                <action android:name="com.nightonke.githubwidget.action.UPDATE_MOTTO" />
                <action android:name="com.nightonke.githubwidget.action.UPDATE_FROM_SERVICE" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".GithubWidget4"
            android:label="4×4-1">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_4"/>

            <intent-filter>
                <action android:name="com.nightonke.githubwidget.action.CLICK_ALL" />
                <action android:name="com.nightonke.githubwidget.action.CLICK_AVATAR" />
                <action android:name="com.nightonke.githubwidget.action.CLICK_MOTTO" />
                <action android:name="com.nightonke.githubwidget.action.CLICK_CONTRIBUTIONS" />
                <action android:name="com.nightonke.githubwidget.action.CLICK_CONTRIBUTIONS_SUM" />
                <action android:name="com.nightonke.githubwidget.action.CLICK_CONTRIBUTIONS_TODAY" />
                <action android:name="com.nightonke.githubwidget.action.CLICK_FOLLOWERS" />
                <action android:name="com.nightonke.githubwidget.action.CLICK_STARS_TODAY" />
                <action android:name="com.nightonke.githubwidget.action.CLICK_CURRENT_STREAK" />
                <action android:name="com.nightonke.githubwidget.action.UPDATE_MOTTO" />
                <action android:name="com.nightonke.githubwidget.action.UPDATE_FROM_SERVICE" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".GithubWidget5"
            android:label="4×4-2">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider_5"/>

            <intent-filter>
                <action android:name="com.nightonke.githubwidget.action.CLICK_ALL" />
                <action android:name="com.nightonke.githubwidget.action.CLICK_AVATAR" />
                <action android:name="com.nightonke.githubwidget.action.CLICK_MOTTO" />
                <action android:name="com.nightonke.githubwidget.action.CLICK_CONTRIBUTIONS" />
                <action android:name="com.nightonke.githubwidget.action.CLICK_CONTRIBUTIONS_SUM" />
                <action android:name="com.nightonke.githubwidget.action.CLICK_CONTRIBUTIONS_TODAY" />
                <action android:name="com.nightonke.githubwidget.action.CLICK_FOLLOWERS" />
                <action android:name="com.nightonke.githubwidget.action.CLICK_STARS_TODAY" />
                <action android:name="com.nightonke.githubwidget.action.CLICK_CURRENT_STREAK" />
                <action android:name="com.nightonke.githubwidget.action.UPDATE_MOTTO" />
                <action android:name="com.nightonke.githubwidget.action.UPDATE_FROM_SERVICE" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>